/* #pixel {
    font-size: 20px;
  }

  #point {
    font-size: 20pt;
  }

  #em {
    font-size: 1em;
  }

  #rem {
    font-size: 2rem; 
   }

  footer {
    font-size: 12pt;
  }
  
  html {
    font-size: xxlarge;
  } */
 .sit {
  color: coral
 }

 .fan {
  font-size: 2rem;
 }
 #dig {
  font-weight: 900;"
 }
  .unify {
font-family: 'Caveat', cursive;
  }
  html {
    font-size: 30px;
  }